body {
    font-family: Arial;
    text-align: center;
    background: #f4f4f4;
}

form {
    margin: 20px;
}

input, select, button {
    padding: 10px;
    margin: 5px;
}

button {
    cursor: pointer;
}
